@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --primary-color: #48ceff;
    --secondary-color: #17181C; 
    /* --font-color: #FFFFFF; */
}
body {
    background-color: #17181C;
}

header {
    /* background-color: #17181c84; */
    height: 60px;
}

.logo {
    color: var(--font-color);
    float: left;
    margin-left: 5em;
    margin-top: 15px;
}

/* Navigation */
.nav {
    float: right;
    margin-right: 5em;
    margin-top: 25px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 65px;
}
.nav-list-item {
    list-style-type: none;
}
.nav-list-item-link {
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
}
.nav-list-item-link:hover {
    color: var(--secondary-color);
    margin-bottom: 45px;
    padding-bottom: 4px;
    border-bottom: 4px solid var(--secondary-color);
}


.active {
    color: var(--primary-color);
}

footer {
    background-color: var(--secondary-color);
}