/* WORKING */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-color: #48ceff;
    --secondary-color: #17181C; 
    --font-color: #FFFFFF;
    --dark-font: #000;
}
/* body {
    background-color: #333 !important;
    color: #000;
} */

/* header {
    background-color: #17181c84;
    height: 60px;
} */

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Candal", serif;
  color: #5c5b5b;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* 
.logo {
    float: left;
    margin-left: 5em;
    margin-top: 15px;
}
.logo-link {
   color: var(--dark-color);
} */

/* header */
header {
    background: var(--primary-color);
    height: 66px;
  }
  
  header * {
    color: white;
  }
  
  header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
  }
  
  header .logo-text {
    margin: 9px;
    font-family: "Candal", serif;
  }
  
  header .logo-text span {
    color: var(--secondary-color);
  }
  
  header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  header ul li {
    float: left;
    position: relative;
  }
  
  header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 88888;
  }
  
  header ul li:hover ul {
    display: block;
  }
  
  header ul li ul li {
    width: 100%;
  }
  
  header ul li ul li a {
    padding: 10px;
    background: white;
    color: #444;
  }
  
  header ul li ul li a.logout {
    color: red;
  }
  /* header dropdown */
  header ul li ul li a:hover {
    background: lightgray;
  }
  
  header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
  }
  /* header buttons */
  header ul li a:hover {
    background: var(--secondary-color);
    transition: 0.5s;
  }
  
  header .menu-toggle {
    display: none;
  }

/* Navigation */
/* .nav {
    float: right;
    margin-right: 5em;
    margin-top: 25px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    gap: 65px;
}
.nav-list-item {
    list-style-type: none;
}
.nav-list-item-link {
    text-decoration: none;
    color: var(--dark-color);
    text-transform: uppercase;
}
.nav-list-item-link:hover {
    color: var(--primary-color);
    margin-bottom: 45px;
    padding-bottom: 4px;
    border-bottom: 4px solid var(--primary-color);
} */

.dash-wrapper {
    min-height: 100%;
  }
  
  .dash-wrapper a:hover {
    color: var(--hover-color);
  }

.active {
    color: var(--primary-color);
}

footer {
    background-color: var(--secondary-color);
}


/* 
.land-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.land-container .content{
   text-align: center;
}

.land-container .content h3{
   font-size: 30px;
   color:#333;
}

.land-container .content h3 span{
   background: var(--primary-color);
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.land-container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:var(--font-color);
}

.land-container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.land-container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.land-container .content .btn:hover{
   background: var(--primary-color);
} */

/* SideBar */
header {
	background: var(--primary-color);
}
.dash-wrapper {
	display: flex;
	height: calc(100% - 66px);
}

.dash-wrapper .left-sidebar {
	flex: 2;
	height: 100%;
	background: var(--secondary-color);
}

.dash-wrapper .left-sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: aliceblue !important;
}

.dash-wrapper .left-sidebar ul li a {
	padding: 18px;
	display: block;
	border-bottom: 1px solid var(--secondary-color);
}

.dash-wrapper .left-sidebar ul li a:hover {
	background: var(--secondary-color);
}

.dash-wrapper .admin-content {
	flex: 8;
	height: 100%;
	padding: 40px 50px 50px;
	overflow-y: scroll;
}
.dash-content .page-title {
	text-align: center;
	margin-bottom: 1.5rem;
}